<div class="container">
  <div class="my-3">

    <h2>of-from</h2>
    <br>
    <STRONG>OF EXAMPLES</STRONG>
    <hr>
    <div class="row">
      <div class="col-5">
        <div class="card border-secondary mb-3">
          <div class="card-header">of("apple", "mango", "cherry")</div>
          <div class="card-body text-dark">
            <ul class="list-group list-group-flush" id="appendlist1"></ul>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        <div class="card border-secondary mb-3">
          <div class="card-header">of(obj) like ({{ '{' }} a: "apple", b: "mango", c: "cherry"{{ '}' }} )</div>
          <div class="card-body text-dark">
            <ul class="list-group list-group-flush" id="appendlist2">
              <li class="list-group-item">{{ObsMsg.a}}</li>
              <li class="list-group-item">{{ObsMsg.b}}</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    <STRONG>From EXAMPLES</STRONG>
    <hr>
    <div class="row">
      <div class="col-4">
        <div class="card border-secondary mb-3">
          <div class="card-header">from(["apple", "mango", "cherry"])</div>
          <div class="card-body text-dark">
            <ul class="list-group list-group-flush" id="appendlist3"></ul>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card border-secondary mb-3">
          <div class="card-header">Timer List</div>
          <div class="card-body text-dark">
            <ul class="list-group list-group-flush" id="appendlist4"></ul>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card border-secondary mb-3">
          <div class="card-header">Timer List</div>
          <div class="card-body text-dark">
            <ul class="list-group list-group-flush" id="appendlist4"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>