<div class="container">
  <div class="my-3">

    <h2>To Array</h2>
    <div class="row">
      <div class="col-6">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">List</div>
          <div class="card-body text-dark">
            <!-- <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul> -->

            <ul class="list-group list-group-flush" id="appendlist"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>