<div class="row">
  <div class="col-md-12 flex">

    <a routerLink="FromEvent">FromEvent</a>

    <a routerLink="timerInterval">Timer & interval</a>

    <a routerLink="OfFrom">Of & From</a>

    <a routerLink="ToArray">To Array</a>

    <a routerLink="map">map</a>

    <a routerLink="fliter">fliter</a>

    <a routerLink="MergeMap">MergeMap</a>

    <a routerLink="ConcatMap">ConcatMap</a>
    <a routerLink="Merge">Merge</a>

    <a routerLink="DebounceTime">Debounce Time</a>
    <a routerLink="ReplaySubject">Replay Subject</a>

    <a routerLink="AsyncSubject">Async Subject</a>
    <a routerLink="Reduce">Reduce</a>

    <a routerLink="CatchTryErrorHandling">Catch Try & Error Handling</a>
    <a routerLink="Tap">Tap</a>

    <a routerLink="FlatMap">FlatMap</a>
    <a routerLink="Pluck">Pluck </a>

    <a routerLink="FromEvent">FromEvent</a>
  </div>
</div>