<div class="container">
  <div class="my-3">
    <h2>Map operator</h2>
    <hr>
    <div class="row">
      <div class="col-4">
        <div class="card border-secondary mb-3">
          <div class="card-header">map(data => "string " + data * 10)</div>
          <div class="card-body text-dark">
            <ul class="list-group list-group-flush" id="appendlist"></ul>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card border-secondary mb-3">
          <div class="card-header">map(data => data.name)</div>
          <div class="card-body text-dark">
            <ul class="list-group list-group-flush" id="appendlist1"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>